<h1>{{hero.nombre | uppercase}} <small> <small>({{ hero.aparicion | date:'y' }}) </small></small>
</h1>
<hr>

<div class="row">

    <div class="col-md-4">
        <img class="img-fluid animated fadeIn" [src]=hero.img alt="">
        <br><br>
        <a class="btn btn-outline-danger d-grid gap-2" [routerLink]="['/heros']">Volver</a>
    </div>

    <div class="col-md-8 animated fadeIn fast">
        <h3>{{hero.nombre}}</h3>
        <hr>
        <p>{{hero.bio}}</p>

        <h1><small>{{hero.casa}} </small></h1>
    </div>
</div>