<h1><small>Heros </small></h1>

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col animated fadeIn" *ngFor="let hero of heros; let i = index">
        <div class="card h-100">
            <img [src]="hero.img" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ hero.nombre }}</h5>
                <p class="card-text">{{ hero.bio }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ hero.aparicion }}</small>
            </div>

            <button (click)="onClick(i)" class="btn btn-outline-success">See more...</button>

            <!-- <a class="btn btn-outline-success btn-block" [routerLink]="['/hero', i]">Ver más...</a> -->

        </div>
    </div>

</div>