<div class="col animated fadeIn">
    <div class="card h-100">
        <img [src]="hero.img" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ hero.nombre }}</h5>
            <p class="card-text">{{ hero.bio }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ hero.aparicion }}</small>
        </div>

        <button (click)="onClick()" class="btn btn-outline-success">See more...</button>


    </div>
</div>